.THIS .supportPlusContainer {

}

.THIS.hideDiv {
    display: none;
}

.THIS div#rolling-total.cToroSupportPlus {
    position: fixed;  /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 53px;
    border: 3px solid green;
}