.THIS .performance-part {
    text-align:center; 
    vertical-align:middle;
}

.THIS .remove-support-plus-help-text {
 	margin-left: 5px;   
    color: red;
    font-style: italic;
}

.THIS .choose-pricing-program {
	width : 50%;    
}

.THIS tr.slds-text-heading--label th {
    background-color : #DCDCDC;
}
.THIS tr.slds-text-heading--label th div {
    background-color : #DCDCDC;
}

.THIS .validation-error {
    display : none;
    padding-top : 2px;
    color : red
}

.THIS .has-required-field {
    border-left: 2px solid red;
    padding-left: 2px;
}
.THIS#docked_quote_header {
    position: fixed;
    z-index: 1;
    top: 40px;
    margin-top: 10px;
    width: 100%;
}
.THIS#pricing_program_selector {
    margin-top: 60px;
}
.THIS td.align-right {
    text-align: right;
}
.THIS th.type-DOUBLE {
    text-align: right;
}
.THIS th.type-CURRENCY {
    text-align: right;
}
.THIS th.type-PERCENT {
    text-align: right;
}