.THIS .type-BOOLEAN  {
    width: 50px;
}

.THIS tr.noBorder td {
  border: 0;
}

.THIS tr.slds-text-heading--label th {
    background-color : #DCDCDC;
}

.THIS tr.quoteItemSubline td {
    background-color : #f3f3f3;
}
.THIS table.sublnes-table th {
    background-color : #ECECEC;
}
.THIS table.sublnes-table th {
    background-color : #ECECEC;
}
.THIS #QuoteItemSummary table {
	margin-left : 16px;    
}
.THIS #QuoteItemSummary table th.Product_Id__c {
	padding-left : 10px;    
}
.THIS #QuoteItemSummary table td.Product_Id__c {
	padding-left : 10px;    
}
.THIS #QuoteItemSubLine table {
	margin-left : 16px;    
}
.THIS #QuoteItemSubLine table th.Product_Id__c {
	padding-left : 10px;    
}
.THIS #QuoteItemSubLine table td.Product_Id__c {
	padding-left : 10px;    
}
.THIS th.Product_Name__c {
    width:20%;
}

.THIS #QuoteItem th.Product_Name__c {
    width:19%;
}
.THIS th.Product_Id__c {
    background-color : green;
    width:80px;
}
.THIS input[type=text] {
    width:100%;
}
.THIS .chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.75em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.75em;
    cursor: pointer;
}

.THIS .chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.THIS .chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.THIS .chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}
.THIS th.chevron-cell {
    width:42px;
}